.lever{
    width: 30px;
    height: 14px;
    background-color: rgb(185, 185, 185);
    border: black solid 8px;
    border-radius: 15px;
    position: relative;
    margin-left : auto;
    margin-right : auto;
    bottom : 370px;
    left : 173px;
}

.lever:active{
    animation: toast 1s forwards;
}

@keyframes toast {
  0%{
}
100% {
    transform: translateY(300%);
}

}

.lever:active {
    background-color: rgba(126, 126, 126, 0.74);
}