.toasterbody{
   background-color: rgb(156, 156, 156);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25em;
    user-select: none;
    z-index: 1;

}

#main{
    width:  300px;
   height : 200px;
   border-top-left-radius: 30%;
   border-top-right-radius: 30%;
   border: black solid 9px;
   z-index: 500;
   position: relative;
}

#main_shade{
    width: 280px;
    height: 200px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    position:relative;
    background-color: rgb(206, 206, 206);
    bottom: 400px;
    left: -9px;
    z-index: 150;

}

#bottom{
    position : relative;
    bottom : 800px;
    width: 340px;
    height: 10px;
    border: black solid 9px;
    border-radius: 99px;
    left : -28px;
    z-index: 150;

}