h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 7px 3px rgba(75, 68, 7, 0.753);
    font-size: 70px;
    background-color: rgba(250, 235, 215, 0.719);
    color: rgb(255, 211, 67);
}